.section-header
  h1 マスタデータ
  .section-header-breadcrumb.flex-wrap
    .breadcrumb-item.active
      a(href='#') ダッシュボード
    .breadcrumb-item
      a(href='#') マスターデータ管理メニュー
    .breadcrumb-item 職業マスタ管理