.navbar-bg
nav.navbar.navbar-expand-lg.main-navbar
  form.form-inline.mr-auto
    ul.navbar-nav.mr-3
      li
        a.nav-link.nav-link-lg(href='#', data-toggle='sidebar')
          i.fas.fa-bars
      li
        a.nav-link.nav-link-lg.d-sm-none(href='#', data-toggle='search')
          i.fas.fa-search
    .search-element
      input.form-control(type='search', placeholder='Search', aria-label='Search', data-width='250')
      button.btn(type='submit')
        i.fas.fa-search
      .search-backdrop
      .search-result
        .search-header
          | Histories
        .search-item
          a(href='#') How to hack NASA using CSS
          a.search-close(href='#')
            i.fas.fa-times
        .search-item
          a(href='#') Kodinger.com
          a.search-close(href='#')
            i.fas.fa-times
        .search-item
          a(href='#') #Stisla
          a.search-close(href='#')
            i.fas.fa-times
        .search-header
          | Result
        .search-item
          a(href='#')
            img.mr-3.rounded(width='30', src='upload/product-3-50.png', alt='product')
            | oPhone S9 Limited Edition

  ul.navbar-nav.navbar-right
    li.dropdown.dropdown-list-toggle
      a.nav-link.nav-link-lg.message-toggle.beep(href='#', data-toggle='dropdown')
        i.far.fa-envelope
      .dropdown-menu.dropdown-list.dropdown-menu-right
        .dropdown-header
          | Messages
          .float-right
            a(href='#') Mark All As Read
        .dropdown-list-content.dropdown-list-message
          a.dropdown-item.dropdown-item-unread(href='#')
            .dropdown-item-avatar
              img.rounded-circle(alt='image', src='upload/avatar-1.png')
              .is-online
            .dropdown-item-desc
              b Kusnaedi
              p Hello, Bro!
              .time 10 Hours Ago

        .dropdown-footer.text-center
          a(href='#')
            | View All
            i.fas.fa-chevron-right
    li.dropdown.dropdown-list-toggle
      a.nav-link.notification-toggle.nav-link-lg.beep(href='#', data-toggle='dropdown')
        i.far.fa-bell
      .dropdown-menu.dropdown-list.dropdown-menu-right
        .dropdown-header
          | Notifications
          .float-right
            a(href='#') Mark All As Read
        .dropdown-list-content.dropdown-list-icons
          a.dropdown-item(href='#')
            .dropdown-item-icon.bg-info.text-white
              i.fas.fa-bell
            .dropdown-item-desc
              | Welcome to Stisla template!
              .time Yesterday
        .dropdown-footer.text-center
          a(href='#')
            | View All
            i.fas.fa-chevron-right
    li.dropdown
      a.nav-link.dropdown-toggle.nav-link-lg.nav-link-user(href='#', data-toggle='dropdown')
        img.rounded-circle.mr-1(alt='image', src='upload/avatar-1.png')
        .d-sm-none.d-lg-inline-block Hi, Ujang Maman
      .dropdown-menu.dropdown-menu-right
        .dropdown-title Logged in 5 min ago
        a.dropdown-item.has-icon(href='features-profile.html')
          i.far.fa-user
          |  Profile
        a.dropdown-item.has-icon(href='features-activities.html')
          i.fas.fa-bolt
          |  Activities
        a.dropdown-item.has-icon(href='features-settings.html')
          i.fas.fa-cog
          |  Settings
        .dropdown-divider
        a.dropdown-item.has-icon.text-danger(href='#')
          i.fas.fa-sign-out-alt
          |  Logout
