mixin sidebar(active_parent,active_child)
  .main-sidebar
    aside#sidebar-wrapper
      ul.sidebar-menu.mt-5
        li.menu-header マスタデータ管理メニュー
        li(class=active_parent=='list'?'active':'')
          a.nav-link(href='list.html')
            i.fas.fa-briefcase
            span 職業マスタ管理
        li.nav-item.dropdown(class=active_parent=='admin'?'active':'')
          a.nav-link.has-dropdown(href='#', data-toggle='dropdown')
            i.fas.fa-archive
            span 業種マスタ管理
          ul.dropdown-menu
            li(class=active_child=='admin02'?'active':'')
              a.nav-link(href='admin02.html') 業種管理
            li
              a.nav-link(href='#') 職種管理
            li(class=active_child=='admin03'?'active':'')
              a.nav-link(href='admin03.html') 資格管理