block defaults
    - title = "Dashboard"
    - projectname = "Admin"

block settings

doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        // Favicon
        link(rel="shortcut icon", href="upload/favicon.ico", type="image/x-icon")
        link(rel="apple-touch-icon", href="upload/favicon.png")


        // CSS
        link(rel='stylesheet', href='src/scss/pages/bootstrap.min.css')
        link(rel='stylesheet', href='src/scss/pages/all.css')
        link(rel="stylesheet", href="src/scss/plugins.min.css")
        link(rel="stylesheet", href="src/scss/style.css")


        // Title
        title #{title} - #{projectname}
    body
        // WRAP PAGE
        main
          include _navigation
          block content

        // General JS
        script.
            window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')
        script(src='src/js/scriptsDashboard.js')
        script(src='src/js/stisla.js')
        script(src='src/js/popper.min.js')
        script(src='src/js/bootstrap.min.js')
        script(src='src/js/jquery.nicescroll.min.js')
        script(src='src/js/moment.min.js')

        // Custom JS
        script(src="src/js/pages.js")

