extends include/template
include include/_sidebar

block settings
  - title = "Admin 02"

block content
  +sidebar('admin','admin02')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 業種管理
          p.section-lead ユーザーが選択する業種のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの業種は変更できません。
          .card.p-1
            .card-header
              .wrapper
                .dropdown.d-inline.mr-2
                  button.mb-2.mb-md-0.btn.note-btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | 表示件数の切り替え
                  .dropdown-menu
                    each value in [20,25,50,100,200]
                      a.dropdown-item(href='#') #[=value]
                .dropdown.d-inline.mr-2
                  button.mb-2.mb-md-0.btn.note-btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | 業種別表示切り替え
                  .dropdown-menu
                    each value in [1,2,3]
                      a.dropdown-item(href='#') 業種が⼊ります
                a.btn.note-btn.btn-outline-success.mb-2.mb-md-0.mr-2(href='admin02-details.html') 新規追加
                a.btn.note-btn.btn-outline-danger.mb-2.mb-md-0(href='#') 削除
              .card-header-form.mb-2.mb-md-0
                form
                  .input-group
                    input.form-control(type='text', placeholder='Search')
                    .input-group-btn
                      button.btn.btn-primary
                        i.fas.fa-search
            .card-body.p-0
              .table-responsive
                table.table.table-bordered
                  thead
                    tr
                      th(width='5%').text-center
                        .custom-checkbox.custom-control
                          input#checkbox-all.custom-control-input(type='checkbox', data-checkboxes='group-checked01', data-checkbox-role='dad')
                          label.custom-control-label(for='checkbox-all')  
                      th(width='5%').text-center #
                      th(width='55%') 業種名
                      th(width='25%').text-center ステータス
                      th(width='5%').text-center 編集
                      th(width='5%').text-center 削除
                  tbody
                    tr
                      td.p-0.text-center
                        .custom-checkbox.custom-control
                          input#checkbox-1.custom-control-input(type='checkbox', data-checkboxes='group-checked01')
                          label.custom-control-label(for='checkbox-1')  
                      td.text-center 1
                      td 業種名
                      td.text-center アクティブ
                      td.text-center
                        a.btn.btn-secondary(href='admin02-details.html') 詳細
                      td.text-center
                        a.btn.btn-danger(href='#') 削除
                    tr
                      td.p-0.text-center
                        .custom-checkbox.custom-control
                          input#checkbox-2.custom-control-input(type='checkbox', data-checkboxes='group-checked01')
                          label.custom-control-label(for='checkbox-2')  
                      td.text-center 2
                      td 業種名
                      td.text-center ⾮表⽰
                      td.text-center
                        a.btn.btn-secondary(href='admin02-details.html') 詳細
                      td.text-center
                        a.btn.btn-danger.disabled(href='#') 削除
                    each val,index in {3:'アクティブ',4:'⾮表⽰',5:'アクティブ',6:'⾮表⽰'}
                      tr
                        td.p-0.text-center
                          .custom-checkbox.custom-control
                            input.custom-control-input(type='checkbox', data-checkboxes='group-checked01', id='checkbox-'+index+'')
                            label.custom-control-label(for='checkbox-'+index+'')  
                        td.text-center #[=index]
                        td 業種名
                        td.text-center #[=val]
                        td.text-center
                          a.btn.btn-secondary(href='admin02-details.html') 詳細
                        td.text-center
                          a.btn.btn-danger(href='#') 削除
            .card-footer.text-right
              nav.d-inline-block
                ul.pagination.mb-0
                  li.page-item.disabled
                    a.page-link(href='#', tabindex='-1')
                      i.fas.fa-chevron-left
                  li.page-item.active
                    a.page-link(href='#')
                      | 1
                      span.sr-only (current)
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#')
                      i.fas.fa-chevron-right



