extends include/template
include include/_sidebar

block settings
    - title = "Admin 02 Details"

block content
  .main-sidebar
    aside#sidebar-wrapper
      ul.sidebar-menu.mt-5
        li.menu-header マスタデータ管理メニュー
        li
          a.nav-link(href='list.html')
            i.fas.fa-briefcase
            span 職業マスタ管理
        li.nav-item.dropdown.active
          a.nav-link.has-dropdown(href='#', data-toggle='dropdown')
            i.fas.fa-archive
            span 業種マスタ管理
          ul.dropdown-menu
            li.active
              a.nav-link(href='admin02.html') 業種管理
            li
              a.nav-link(href='#') 職種管理
            li
              a.nav-link(href='admin03.html') 資格管理
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 業種管理
          p.section-lead ユーザーが選択する業種のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .alert.alert-success.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a success alert.
            .alert.alert-danger.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a danger alert.

          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                tbody
                  tr
                    th(scope='row') 業種名
                    td
                      input.form-control(type='text' value='IT')
                  tr
                    th(scope='row') ステータス
                    td
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1')
                        label.custom-control-label(for='customRadioInline1') アクティブ
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1')
                        label.custom-control-label(for='customRadioInline2') 非公開
          .wrap-Buttons.mt-3.mb-3
            a.btn.btn-secondary(href='admin02.html').mr-3 保存せずに一覧へ戻る
            a.btn.btn-success(href='#') 保存



