extends include/template
include include/_sidebar

block settings
    - title = "Admin 03 Details"

block content
  +sidebar('admin','admin03')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 業種管理
          p.section-lead ユーザーが選択する業種のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .alert.alert-success.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a success alert.
            .alert.alert-danger.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a danger alert.

          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                tbody
                  tr
                    th(scope='row') 業種選択
                    td
                      select.form-control
                        each val in [1,2,3]
                          option(value='IT') IT

                  tr
                    th(scope='row') 資格名
                    td
                      input.form-control(type='text' value='資格名を⼊⼒してください')
                  tr
                    th(scope='row') ステータス
                    td
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline3.custom-control-input(type='radio', name='customRadioInline3')
                        label.custom-control-label(for='customRadioInline3') アクティブ
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline4.custom-control-input(type='radio', name='customRadioInline3')
                        label.custom-control-label(for='customRadioInline4') 非公開
          .wrap-Buttons.mt-3.mb-3
            a.btn.btn-secondary(href='admin03.html').mr-3 保存せずに一覧へ戻る
            a.btn.btn-success(href='#') 保存



