extends include/template
include include/_sidebar

block settings
    - title = "Details"

block content
  +sidebar('list')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 職業マスタ管理
          p.section-lead ユーザーが選択する職業のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .alert.alert-success.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a success alert.
            .alert.alert-danger.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a danger alert.

          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                tbody
                  tr
                    th(scope='row') 職業名
                    td
                      input.form-control(type='text' value='会社員')
          .wrap-Buttons.mt-3.mb-3
            a.btn.btn-secondary(href='list.html').mr-3 保存せずに一覧へ戻る
            a.btn.btn-success(href='#') 保存



