extends include/template
include include/_sidebar

block settings
    - title = "List"

block content
  +sidebar('list')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 職業マスタ管理
          p.section-lead ユーザーが選択する職業のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .dropdown.d-inline.mr-3
              button#dropdownMenuButton4.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | 表示件数の切り替え
              .dropdown-menu
                each value in [20,25,50,100,200]
                  a.dropdown-item(href='#') #[=value]
            a.btn.btn-outline-success(href='details.html') 新規追加
          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                thead
                  tr
                    th(scope='col' width='5%') #
                    th(scope='col' width='85%') 職業名
                    th(scope='col' width='5%').text-center 編集
                    th(scope='col' width='5%').text-center 削除
                tbody
                  each val,index in ['会社員','役員','取締役','⾃営業','無職','アルバイト']
                    tr
                      th(scope='row') #[=index +1]
                      td #[=val]
                      td
                        a.btn.btn-secondary(href='details.html') 詳細
                      td
                        a.btn.btn-danger(href='#') 削除
            nav(aria-label='Page navigation example').mt-5
              ul.pagination.justify-content-end
                li.page-item
                  a.page-link(href='#') Previous
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Next


